nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
nav a{
    color:rgb(219, 213, 213) ;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

button.dropbtn:hover {
    background-color: #555;
} 

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=search] {
    width: 150px;
    padding: 5px;
}

.search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.logo {
    height: 40px; 
} 

.navbar-left ul li:last-child {
    margin-right: 0;
}


.outer-container {
    padding: 2px 200px; 
}

.box-container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: calc(50% - 10px);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3%;
    background-color: transparent; 
    border: 1px solid #ddd; 
    box-sizing: border-box; 
}

.newsbox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px 15px;
}

.newsbox {
    background-color: #fdf7f7;
    border: 1px thin #ddd;
    padding: 15px;
}

.newsbox:nth-child(even) {
    background-color: transparent;
}

.newsbox p {
    margin: 0;
}

footer {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body, p, li, a, span, input, button, div {
    font-weight: normal;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-items {
    display: flex;
}

ul {
    list-style: none;
    padding: 20px 60px;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

ul:first-child li {
    font-weight: bold;
}

